using System;
using System.Threading;
using System.Threading.Tasks;

namespace {{namespace}}
{
    public partial class BaseRequestHandler
    {
        protected virtual Task<TResp> Handle<TReq, TResp>(
            string method,
            string path,
            TReq req,
            CancellationToken cancellationToken
        )
        {
            throw new NotImplementedException();
        }
    }
}
